__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
venv/
env/
.venv/
.env
*.env
db.sqlite3
staticfiles/
media/
.git/
.gitignore
README.md
Pipfile
Pipfile.lock
*.log
*.pot
.DS_Store
